/* Borrowed from https://github.com/yihui/yihui.github.com/blob/master/media/css/highlight.css */
.highlight .hll { background-color: #ffffcc; }
.highlight      { background: #f8f8f8; }
.highlight .c   { color: #969896; } /* Comment */
.highlight .err { border: 1px solid #FF0000; } /* Error */
.highlight .k   { color: #a71d5d; } /* Keyword */
.highlight .o   { color: #666666; } /* Operator */
.highlight .cm  { color: #408080; font-style: italic; } /* Comment.Multiline */
.highlight .cp  { color: #159957; } /* Comment.Preproc */
.highlight .c1  { color: #969896; } /* Comment.Single */
.highlight .cs  { color: #969896; } /* Comment.Special */
.highlight .gd  { color: #A00000; } /* Generic.Deleted */
.highlight .ge  { font-style: italic; } /* Generic.Emph */
.highlight .gr  { color: #FF0000; } /* Generic.Error */
.highlight .gh  { color: #000080; font-weight: bold; } /* Generic.Heading */
.highlight .gi  { color: #00A000; } /* Generic.Inserted */
.highlight .go  { color: #808080; } /* Generic.Output */
.highlight .gp  { color: #000080; font-weight: bold; } /* Generic.Prompt */
.highlight .gs  { font-weight: bold; } /* Generic.Strong */
.highlight .gu  { color: #800080; font-weight: bold; } /* Generic.Subheading */
.highlight .gt  { color: #0040D0; } /* Generic.Traceback */
.highlight .kc  { color: #15B787; font-weight: bold; } /* Keyword.Constant */
.highlight .kd  { color: #008000; font-weight: bold; } /* Keyword.Declaration */
.highlight .kn  { color: #008000; font-weight: bold; } /* Keyword.Namespace */
.highlight .kp  { color: #008000; } /* Keyword.Pseudo */
.highlight .kr  { color: #008DC4; font-weight: bold; } /* Keyword.Reserved */
.highlight .kt  { color: #a71d5d; } /* Keyword.Type */
.highlight .m   { color: #666666; } /* Literal.Number */
.highlight .s   { color: #183691; } /* Literal.String */
.highlight .n   { color: #425963; }
.highlight .na  { color: #7D9029; } /* Name.Attribute */
.highlight .nb  { color: #008000; } /* Name.Builtin */
.highlight .nc  { color: #795da3; } /* Name.Class */
.highlight .no  { color: #880000; } /* Name.Constant */
.highlight .nd  { color: #AA22FF; } /* Name.Decorator */
.highlight .ni  { color: #999999; font-weight: bold; } /* Name.Entity */
.highlight .ne  { color: #D2413A; font-weight: bold; } /* Name.Exception */
.highlight .nf  { color: #795da3; } /* Name.Function */
.highlight .nl  { color: #A0A000; } /* Name.Label */
.highlight .nn  { color: #0000FF; font-weight: bold; } /* Name.Namespace */
.highlight .nt  { color: #008000; font-weight: bold; } /* Name.Tag */
.highlight .nv  { color: #19177C; } /* Name.Variable */
.highlight .ow  { color: #AA22FF; font-weight: bold; } /* Operator.Word */
.highlight .w   { color: #bbbbbb; } /* Text.Whitespace */
.highlight .mf  { color: #0086b3; } /* Literal.Number.Float */
.highlight .mh  { color: #0086b3; } /* Literal.Number.Hex */
.highlight .mi  { color: #0086b3; } /* Literal.Number.Integer */
.highlight .mo  { color: #0086b3; } /* Literal.Number.Oct */
.highlight .sb  { color: #BA2121; } /* Literal.String.Backtick */
.highlight .sc  { color: #BA2121; } /* Literal.String.Char */
.highlight .sd  { color: #BA2121; font-style: italic; } /* Literal.String.Doc */
.highlight .s2  { color: #BA2121; } /* Literal.String.Double */
.highlight .se  { color: #BB6622; } /* Literal.String.Escape */
.highlight .sh  { color: #BA2121; } /* Literal.String.Heredoc */
.highlight .si  { color: #BB6688; font-weight: bold; } /* Literal.String.Interpol */
.highlight .sx  { color: #008000; } /* Literal.String.Other */
.highlight .sr  { color: #BB6688; } /* Literal.String.Regex */
.highlight .s1  { color: #BA2121; } /* Literal.String.Single */
.highlight .ss  { color: #19177C; } /* Literal.String.Symbol */
.highlight .bp  { color: #008000; } /* Name.Builtin.Pseudo */
.highlight .vc  { color: #19177C; } /* Name.Variable.Class */
.highlight .vg  { color: #19177C; } /* Name.Variable.Global */
.highlight .vi  { color: #19177C; } /* Name.Variable.Instance */
.highlight .il  { color: #666666; } /* Literal.Number.Integer.Long */
